.navigation {
  display: flex;
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
}
.navigation-column {
  position: sticky;
  top: 0;
  left: 0;
  transition-duration: 0.15s;
  transition-property: all;
  width: 17rem;
  height: 100vh;
  z-index: 40;
  background-color: #1f2937;
  transition-duration: 0.15s;
  transition-property: all;
}

.navigation-column-opened {
  display: block;
  position: sticky;
  top: 0;
  bottom: -2px;
  width: 30rem !important;
  left: -17rem;
  height: 100vh;
  z-index: 40;
  background-color: #1f2937;
  transition-duration: 0.15s;
  transition-property: all;
}

.navigation-block {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  width: 100%;
}
.navigation-logo {
  display: flex;
  align-items: center;
  color: white;
  background-color: #111827;
  height: 3.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.navigation-block-list-header {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #9ca3af;
  padding: 0.75rem;
  font-size: 0.75rem;
}
.navigation-block-list-link {
  display: flex;
  align-items: center;
  color: #d1d5db;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.75rem;
}
.navigation-block-list-link:hover {
  background-color: #374151;
}
.navigation-block-list-link .icon {
  padding-right: 0.6rem;
  font-size: 24px !important;
}

.clock {
  margin-left: 40px;
  font-size: 1rem;
}
.icon-media {
  display: none !important;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  background-color: white;
}
.dropdown-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 0.75rem;
}
.dropdown-list-header {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  width: 100%;
}
.dropdown-list-header-logo {
  display: flex;
  margin-left: 0.5rem;
}
.icon-bt {
  margin-bottom: 0.2rem;
}
.dropdown-list-body {
  display: none;
}
.opened {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  right: 1px;
  background-color: white;
  border-top: 1px solid rgb(205, 205, 205);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.dropdown-list-item {
  display: flex;
  color: black;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0.75rem;
}
.dropdown-list-header.opened-bt .hamburger-button-li {
  background-color: #4788f7 !important;
}
.dropdown-list-header.opened-bt p {
  color: #4788f7 !important;
}
.dropdown-list-header.opened-bt span {
  color: #4788f7 !important;
}
.hidden {
  overflow: hidden !important;
}

@media (max-width: 1024px) {
  .navigation-column {
    display: none;
    position: fixed;
  }
  header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
  .clock {
    display: none;
  }
  .dropdown-links {
    display: none;
  }
  .icon-media {
    display: block !important;
  }
}
