.main-page {
  height: 100%;
}
.main-page-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 95%;
  min-height: 100%;
}
.main-page-content-welcome {
  font-weight: 400;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.main-page-content-container {
  display: flex;
  align-items: center;
}
.main-page-content-welcome-under {
  font-size: 1.25rem;
  margin-top: 1rem;
  color: #b7b9c3;
}
.main-page-content-text {
  font-weight: 400;
  margin-top: 1rem;
  line-height: 1.5rem;
}
.main-logo {
  width: 24rem;
}
.main-text-link {
  color: #088cff;
}

@media (max-width: 1024px) {
  .main-page-content-container {
    flex-direction: column-reverse;
  }
  .main-page {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1.5rem;
  }
  .main-page-content {
    padding: 1.5rem;
  }
}
