.clock {
  margin-left: 40px;
  font-size: 1rem;
}
.icon-media {
  display: none !important;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  background-color: white;
}
.dropdown-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 10px;
}
.dropdown-list-header {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 240px;
}
.dropdown-list-header-logo {
  display: flex;
}
.dropdown-list-body {
  display: none;
}
.opened {
  display: flex;
  flex-direction: column;
  width: 240px;
  position: absolute;
  top: 70px;
  right: 1px;
  padding-left: 20px;
  background-color: white;
  border-top: 1px solid rgb(205, 205, 205);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.dropdown-list-item {
  display: flex;
  color: black;
  align-items: center;
  width: 100%;
  height: 50px;
}
.dropdown-list-header.opened-bt .hamburger-button-li {
  background-color: #4788f7 !important;
}
.dropdown-list-header.opened-bt p {
  color: #4788f7;
}
@media (max-width: 1024px) {
  .clock {
    display: none;
  }
  .dropdown-links {
    display: none;
  }
  .icon-media {
    display: block !important;
  }
}
